{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}


{% block title %}{% translate "Top compute users" %}{% endblock title %}

{% block content %}
<h1>{% translate "Top compute users" %}</h1>
<dl>
  <dt>{% translate "Allocated Cores" %}</dt>
  <dd>{% translate "Number of allocated cores" %}</dd>
  <dt>{% translate "Used cores" %}</dt>
  <dd>{% translate "Sum of % of cores cycle used" %} <br />
    <span class="badge badge-danger">Under 50%</span><span class="badge badge-warning">Under 75%</span><span class="badge badge-success">Above 75%</span>
  </dd>
  <dt>{% translate "Allocated memory" %}</dt>
  <dd>{% translate "Amount of memory allocated to the jobs" %}</dd>
  <dt>{% translate "Max memory" %}</dt>
  <dd>{% translate "Maximum amount of memory used within the jobs" %} <br />
    <span class="badge badge-danger">Under 10%</span><span class="badge badge-warning">Under 50%</span><span class="badge badge-success">Above 50%</span>
  </dd>
  <dt>{% translate "Wasting" %}</dt>
  <dd>{% translate "Show the wasted resource. The normal amount of memory per cores is taken into account to remove the memory flag when a user seems to use full nodes" %}</dd>
</dl>

<select select data-placeholder="Filter by wasting status" multiple class="chosen-select" id="select-status">
  <option value="OK">OK</option>
  {% for waste_badge in select_waste_badges %}
    <option value="{{ waste_badge }}">{{ waste_badge }}</option>
  {% endfor %}
</select>
<div id="time-interval-selector">
  <label>Select Time Interval:</label>
  <label><input type="radio" name="time-interval" value="last" checked> Last</label>
  <label><input type="radio" name="time-interval" value="5"> 5 Minute</label>
  <label><input type="radio" name="time-interval" value="10"> 10 Minutes</label>
  <label><input type="radio" name="time-interval" value="30"> 30 Minutes</label>
  <label><input type="radio" name="time-interval" value="60"> 1 Hour</label>
</div>

<table class="table table-striped" id="compute">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Account" %}</th>
      <th scope="col">{% translate "Allocated cores" %}</th>
      <th scope="col">{% translate "Used cores" %}</th>
      <th scope="col">{% translate "Allocated memory" %}</th>
      <th scope="col">{% translate "Max memory" %}</th>
      <th scope="col">{% translate "Wasting" %}</th>
    </tr>
  </thead>
</table>

<script>
  $(document).ready(function () {
    const table = $('#compute').DataTable({
      "processing": true,
      "ajax": {
          "url": "{{settings.BASE_URL}}secure/top/compute/data",
          "dataSrc": "cpu_users",
        "data": function (d) {
          var selectedInterval = $('input[name="time-interval"]:checked').val();
          d.avg = selectedInterval;
        }
      },
      "columns": [
        {
          "data": "user",
          "render": function(data, type, row) {
            let userUrl = `{{settings.BASE_URL}}secure/jobstats/${data}`;
            let userDisplay = data || "anonymize";

            let noteBadge = row.note_flag ? 
              `<span class="badge badge-primary"><span data-feather="alert-circle" title="User has a note"></span></span>` : 
              "";

            return `<a href="${userUrl}">${userDisplay} ${noteBadge}</a>`;
          }
        },
        {
          "data": "account",
          "render": function(data, type, row) {
            let accountUrl = `{{settings.BASE_URL}}secure/accountstats/${data}`;
            let accountDisplay = data || "anonymize";
            return `<a href="${accountUrl}">${accountDisplay}</a>`;
          }
        },
        {
          "data": "cpu_asked",
          "render": function(data, type, row) {
            return parseFloat(data).toFixed(1);
          }
        },
        {
          "data": "cpu_used",
          "render": function(data, type, row) {
            let formattedCpuUsed = parseFloat(data).toFixed(1);

            if (row.cpu_ratio < 0.75) {
              return `<span class="badge badge-danger">${formattedCpuUsed}</span>`;
            } else if (row.cpu_ratio < 0.90) {
              return `<span class="badge badge-warning">${formattedCpuUsed}</span>`;
            } else {
              return formattedCpuUsed;
            }
          }
        },
        {
          "data": "mem_asked",
          "render": function(data, type, row) {
            if ( type === 'display' || type === 'filter' ) {
              return filesize(data);
            }
            else {
              return data;
            }
          }
        },
        {
          "data": "mem_max",
          "render": function(data, type, row) {
            if ( type === 'display' || type === 'filter' ) {
              ratio = row.mem_ratio;
              reasonable_mem = row.reasonable_mem;
              mem_asked = row.mem_asked;
              // Matching backend logic
              if (mem_asked > reasonable_mem && ratio < 0.1) {
                return '<span class="badge badge-danger">' + filesize(data) + '</span>';
              }
              else if (mem_asked > reasonable_mem && ratio < 0.5) {
                return '<span class="badge badge-warning">' + filesize(data) + '</span>';
              }
              else {
                return filesize(data);
              }
            }
            else {
              return data;
            }
          }
        },
        {
          "data": "waste_badges",
          "render": function(data, type, row) {
            if (row.waste_badges && row.waste_badges.length > 0) {
              return row.waste_badges.map(badge => 
                `<span class="badge badge-${badge[0]}">${badge[1]}</span>`
              ).join(" ");
            } else {
              return `<span class="badge badge-success">OK</span>`;
            }
          }
        }
      ],
    });

    const applyStatusFilter = function() {
      const selectedStatuses = $('#select-status').val() || [];

      $.fn.dataTable.ext.search = [];

      $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
        const status = data[6];
        return selectedStatuses.length === 0 || selectedStatuses.some(selectedStatus => status.includes(selectedStatus));
      });
      table.draw();
    };

    $('#select-status').change(function() {
      applyStatusFilter();
    });

    applyStatusFilter();

    $(".chosen-select").chosen({width:"100%"})
    $('input[name="time-interval"]').change(function () {
      $('#compute').DataTable().clear().draw();
      $('#compute').DataTable().ajax.reload();
    });
  });

</script>

{% endblock content %}
